# Web container configuration
HOST=0.0.0.0
PORT=80

# MongoDB connection used by the app
# Format: mongodb://[username:password@]host:port/
# Change only this variable to switch MongoDB host
# MONGO_URI=mongodb://mongo:27017
# Examples:
MONGO_URI=mongodb://127.0.0.1:27017
# MONGO_URI=mongodb://admin:password@h0:27017/

MONGO_DB_NAME=sj_wedding
